// main: ../main.scss
/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about {
  .content {
    h3 {
      font-size: 2rem;
      font-weight: 700;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        display: flex;
        align-items: flex-start;
        margin-top: 40px;
      }

      i {
        flex-shrink: 0;
        font-size: 48px;
        color: var(--accent-color);
        margin-right: 20px;
      }

      h5 {
        font-size: 18px;
        font-weight: 700;
      }

      p {
        font-size: 15px;
      }
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .pulsating-play-btn {
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
  }
}