[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/nyheder/*"
  to = "/nyheder/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    Content-Security-Policy = "object-src 'none'; base-uri 'self'; form-action 'self' https://api.web3forms.com;"
