// main: ../main.scss
/*--------------------------------------------------------------
# Appointment Section
--------------------------------------------------------------*/
.appointment {
  .php-email-form {
    width: 100%;

    .form-group {
      padding-bottom: 8px;
    }

    input,
    textarea,
    select {
      color: var(--default-color);
      background-color: transparent;
      border-color: color-mix(in srgb, var(--default-color), transparent 80%);
      border-radius: 0;
      box-shadow: none;
      font-size: 14px;
      padding: 10px !important;

      &:focus {
        border-color: var(--accent-color);
      }

      &::placeholder {
        color: color-mix(in srgb, var(--default-color), transparent 70%);
      }
    }

    input,
    select {
      height: 44px;
    }

    textarea {
      padding: 10px 12px;
    }

    button[type="submit"] {
      background: var(--accent-color);
      border: 0;
      padding: 10px 35px;
      color: #fff;
      transition: 0.4s;
      border-radius: 50px;

      &:hover {
        background: color-mix(in srgb, var(--accent-color) 90%, white 15%);
      }
    }
  }
}