// main: ../main.scss
/*--------------------------------------------------------------
# Departments Section
--------------------------------------------------------------*/
.departments {
  overflow: hidden;

  .nav-tabs {
    border: 0;
  }

  .nav-link {
    border: 0;
    padding: 12px 15px 12px 0;
    transition: 0.3s;
    color: var(--default-color);
    border-radius: 0;
    border-right: 2px solid color-mix(in srgb, var(--default-color), transparent 90%);
    font-weight: 600;
    font-size: 15px;

    &:hover {
      color: var(--accent-color);
    }

    &.active {
      color: var(--accent-color);
      border-color: var(--accent-color);
      background-color: var(--background-color);
    }
  }

  .tab-pane.active {
    animation: fadeIn 0.5s ease-out;
  }

  .details {
    h3 {
      font-size: 26px;
      font-weight: 600;
      margin-bottom: 20px;
    }

    p {
      color: color-mix(in srgb, var(--default-color), transparent 20%);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @media (max-width: 992px) {
    .nav-link {
      border: 0;
      padding: 15px;

      &.active {
        color: var(--accent-color);
        background: var(--accent-color);
      }
    }
  }
}